{% extends 'base.html.twig' %}

{% block body %}

    <div id="all">
        <section class="accueil">
            <div class="row">
                <div class="quote col s6">

                    <!-- ici une boucle for avec une phrase random à chaque hover de la souris-->
                    <p id="citation">"{{ citation.extrait }}"</p>
                    <p id ="auteur"><em>{{  citation.auteur }}</em></p>

                </div>
            </div>
        </section>



        <section class="container quijesuis">
            <h2>Qui je suis?</h2>
            <hr>
            <div class="row">
                <div class="col s3">
                    <img src="{{ asset('media/profil.jpg') }}">
                </div>
                <p class="desc_me col s9"> Je m'appelle Cécile, et j'ai <span class="fiveyears">5 ans</span> 26 ans! <br>
                    Passionnée de culture Geek au sens très large (des jeux vidéos au japonais en passant par les univers fantastiques et SF, l'informatique hardware ET software...),
                    j'aspire à trouver un petit coin de bureau pas trop loin d'un chauffage, ayant des gênes de chat qui traînent dans mon ADN, quelque part...
                    <br>
                    Aussi, si vous n'êtes pas allergique à la bonne humeur, vous pouvez m'adopter!
                    Je mange des confiseries, ne mords (presque) pas, et je vous ramène des zerglings de temps en temps, si vous êtes sympas.

                </p>
                <p class="desc_me col s9">
                    Plus sérieusement, après un parcours chaotique pour tenter de rentrer dans le moule des assistantes
                    manager et autres joyeusetés administratives, je me suis intéressée au développement Web, de manière autodidacte dans un premier temps, puis avec la Wild Code Schhol
                    pour continuer mon apprentissage.
                    <br>
                    Mon goût prononcé pour l'art en général tends à me diriger naturellement vers l'univers merveilleux (ou pas) du front-end. Mais je ne suis pas fermée au back-end, ayant principalement été formée sur PHP et SYMFONY 2.8.
                    <br>
                    J'adore apprendre, alors n'hésitez pas à me contacter :)</p>
            </div>

            <div class="row keywords">
                <p class="col s4 keyword"><span class="hashtag">#</span> Créative</p>
                <p class="col s4 keyword"><span class="hashtag">#</span> Spontanée</p>
                <p class="col s4 keyword"><span class="hashtag">#</span> Souriante</p>
            </div>
        </section>



        <section class="projets">
            <div class="container">
                <h2>Mes Projets</h2>
                <hr>
            </div>


            <div class="container">
                <div class="row blockprojet">
                    {% for projet in projets %}

                    <div class="col s12 m6 l4 proj">
                        <a class="waves-effect waves-light" href="#modal"><img src="{{ upload_directory }}/{{ projet.imgpath }}"/></a>
                    </div>

                        {# fenêtre modale #}
                    <div id="modal" class="modal">
                        <div class="modal-content">
                            {#<h3>{{ projet.titre }}</h3>
                            <p>{{ projet.description }}</p>
                            {% if projet.lien != null %}
                                <a href="{{ projet.lien }}">lien vers le projet en ligne</a>
                            {% endif %}
                            #}
                            plop
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">fermer</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>



        <section class="container quijesuis">
            <h2>Langages et outils</h2>
            <hr>
            <div class="row">
                <div class ="col l6 s12 langages">

                    <h3>Mes langages</h3>

                    <div class="col m3 s4">
                        <img src="{{ asset('media/html.png') }}">
                    </div>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/css.png') }}">
                    </div>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/js.png') }}">
                    </div>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/git.png') }}">
                    </div>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/php.png') }}">
                    </div>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/mysql.png') }}">
                    </div>

                </div>

                

                <div class="col l6 s12 outils">

                    <h3>Mes outils</h3>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/phpstorm.png') }}">
                    </div>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/photoshop.jpg') }}">
                    </div>
                </div>
            </div>


        </section>

        <section id="other">
            <h2>Autres réalisations</h2>
            <hr>
            <div class="row container">
                <div class="col l6 s12">

                    <h3>Mes badges et certifs</h3>

                </div>

                <div class="col l6 s12">

                    <h3>Réalisations</h3>
                    <p>traduction d'un article sur la POO et d'un tuto Illustrator</p>
                    <p>Tableaux Geeks sous Illustrator</p>
                    <p>Affiches évènementielles</p>


                </div>



            </div>


        </section>


        <section id="culture">
            <h2>Culture</h2>
            <hr>
            <div class="row container">

                <div class="col s4 m2">
                    <img src="{{ asset('media/bordage.jpg') }}">
                </div>

                <div class="col s4 m2">
                    <img src="{{ asset('media/chihiro.jpg') }}">
                </div>

                <div class="col s4 m2">
                    <img src="{{ asset('media/zerg.jpg') }}">
                </div>

                <div class="col s4 m2">
                    <img src="{{ asset('media/equilibrium.jpg') }}">
                </div>

                <div class="col s4 m2">
                    <img src="{{ asset('media/ciloojap.jpg') }}">
                </div>

            </div>


        </section>


    </div>

{% endblock %}