{% extends 'base.html.twig' %}

{% block body %}

    <div id="all">
        <section class="accueil">
            <div class="row">
                <div class="quote col s12 l6">

                    <!-- ici une boucle for avec une phrase random à chaque hover de la souris-->
                    <p id="citation">"{{ citation.extrait }}"</p>
                    <p id ="auteur"><em>{{  citation.auteur }}</em></p>

                </div>
            </div>
        </section>


        <section id="whoami" class="container quijesuis">
            <h2>Qui je suis?</h2>
            <hr>
            <div class="row">
                <div class="col s12 l3 centerimg">
                    <img src="{{ asset('media/profil.jpg') }}">
                </div>

                <p class="desc_me col l9 s12"> Je m'appelle Cécile, et j'ai <span class="fiveyears">5 ans</span> 26 ans! <br>
                    Passionnée de culture Geek au sens très large (des jeux vidéos à la langue japonaise en passant par les univers fantastiques et SF, l'informatique hardware ET software...),
                    j'aspire à trouver un petit coin de bureau pas trop loin d'un chauffage, ayant des gênes de chat qui traînent dans mon ADN, quelque part.
                    <br>
                    Aussi, si vous n'êtes pas allergique à la bonne humeur, vous pouvez m'adopter!
                    Je mange des confiseries, ne mords (presque) pas, et je vous ramène des gâteaux de temps en temps, si vous êtes sympas.
                <br><br>
                    Plus sérieusement, après un parcours chaotique pour tenter de rentrer dans le moule des assistantes
                    manager et autres joyeusetés administratives, je me suis intéressée au développement Web, de manière autodidacte dans un premier temps, puis avec la Wild Code School
                    pour continuer mon apprentissage.
                    <br>
                    Mon goût prononcé pour l'art en général tends à me diriger naturellement vers l'univers merveilleux (ou pas) du front-end. Mais je ne suis pas fermée au back-end, ayant principalement été formée sur PHP et SYMFONY 2.8.
                    <br>
                    J'adore apprendre, alors n'hésitez pas à me contacter : <a href="mailto:cecile.angays@yahoo.fr">cecile.angays[at]yahoo.fr</a> ou par hibou postal (mais le mail est tout de même un peu plus rapide.)</p>

            </div>

            <div class="row keywords">
                <p class="col l4 s12 keyword"><span class="hashtag">#</span> Créative</p>
                <p class="col l4 s12 keyword"><span class="hashtag">#</span> Spontanée</p>
                <p class="col l4 s12 keyword"><span class="hashtag">#</span> Souriante</p>
            </div>
        </section>


        <section id="projects" class="projets">
            <div class="container">
                <h2>Mes Projets</h2>
                <hr>
            </div>


            <div class="container">
                <div class="row blockprojet">


                    {% for projet in projets %}

                    <div class="col s12 l4 proj">
                        <p>{{ projet.titre }}</p>
                        <a class="waves-effect waves-light open-modal" href="#modal-{{ projet.id }}"><img src="{{ upload_directory }}/{{ projet.imgpath }}"/></a>
                    </div>

                        {# fenêtre modale #}
                    <div id="modal-{{ projet.id }}" class="modal ">
                        <div class="modal-content">
                            <h3>{{ projet.titre }}</h3>
                            <p>{{ projet.description }}</p>
                            {% if projet.lien != null %}
                                <a href="{{ projet.lien }}">lien vers le projet en ligne</a>
                            {% endif %}
                            <br>

                            <div class="row">
                                <div class="col s8">
                                    <img src="{{ upload_directory }}/{{ projet.imgpath }}">
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">fermer</a>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>


        <section id="tools" class="container quijesuis">
            <h2>Langages et outils</h2>
            <hr>
            <div class="row">
                <div class ="col l6 s12 langages">


                <h3>Mes langages</h3>


                    <div class="col m3 s4">
                        <img src="{{ asset('media/html.png') }}">
                    </div>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/css.png') }}">
                    </div>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/js.png') }}">
                    </div>

                    <div class="col s4 m3">

                        <img src="{{ asset('media/sf.png') }}">

                    </div>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/php.png') }}">
                    </div>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/mysql.png') }}">
                    </div>

                </div>
                

                <div class="col l6 s12 outils">

                    <h3>Mes outils</h3>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/git.png') }}">
                    </div>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/phpstorm.png') }}">
                    </div>

                    <div class="col s4 m3">
                        <img src="{{ asset('media/photoshop.jpg') }}">
                    </div>
                </div>

            </div>

        </section>

        <section id="other" class="other">
            <div class = container>
                <h2>Autres réalisations</h2>
                <hr>
            </div>
            <div class="row container">

                <div class="col s12">

                    <p>Ma plus belle réalisation jusqu'à aujourd'hui, reste le développement du concept du Vide Grenier du Geek entre 2010 et 2014 (soit 8 éditions). D'une centaine de visiteurs et quelques stands,
                    l'évènement est devenu incontournable sur la région de Lyon, avec plus de 2000 visiteurs, des créateurs, des activités et rencontres. Cette activité était bénévole.</p>
                    <p>Traduction : J'adore parler des langues étrangères! Je parle assez bien anglais et italien, et j'apprends le japonais.
                        <br> C'est dans cette optique que j'ai traduit de l'anlgais vers le français un article sur la <a href="https://code.tutsplus.com/tutorials/object-oriented-php-for-beginners--net-12762">POO</a>(en cours de trad!)
                        et un <a href="https://design.tutsplus.com/fr/tutorials/creating-a-simple-kawaii-yeti-with-basic-shapes-in-adobe-illustrator--vector-10738">tutoriel sur Illustrator</a>.</p>
                    <p>Affiches évènementielles : Pour mes besoins personnels mais aussi dans le cadre de ma précédente association (AoA Production), j'ai utilisé Photoshop pour réaliser des affiches!</p>
                    <p>Un petit jeu codé en C spécialement créé en suivant les cours Open Classrooms. tu veux le tester? (c'est du .exe!) <a class="btn" href="{{ asset('media/other-real/plus_ou_moins_le_jeu_de_la_mort.exe') }}">cliques ici!</a></p>

                </div>
            </div>


        </section>

        <section id="culture">
            <div class="container">
            <h2>Culture & Loisirs</h2>
            <hr>

            <p>A mes heures perdues, j'aime particulièrement faire de la musique, dessiner, lire, regarder des séries(non, pas Game Of Throne, désolée!), et jouer aux jeux vidéos.
                J'ai donc rassemblé ici quelques une de mes références dans chacun de ces domaines, un peu comme un CV mais uniquement basé sur ma culture et mes loisirs.</p>
            </div>

            <table class="table">
                {% for culture in cultures %}
                <tr class="row">
                    <td><img src="{{ upload_directory }}/{{ culture.img }}"></td>
                    <td>{{ culture.type }}</td>
                    <td>{{ culture.title }}</td>
                    <td class="why">{{ culture.why }}</td>
                </tr>
                    {% endfor %}
            </table>


        </section>

    </div>

{% endblock %}